.vysledky {
    width: 50%;
    display: block;
    float: left;
    color: white;
}

#container {
    width: 50%;
    display: block;
    float: right;
}

form {
    text-align: center;
    height: 70px;
}

form input {
    margin-top: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid black;
    margin-right: 30px;
    color: white;
}

body {
    background-color: darkslategrey;
}

#container {
    width: 1800px;
}


#tag_picture img {
    border-radius: 90px;
    border: 4px solid darkred;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.description {
    float: left;
}

.post_block {
    width: 320px;
}

#instagram > div {
    width: 268px;
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 15px;
}

#instagram > div img, span {
    width: 100%;
    word-break: break-all;
    color: white;
}

.tumblr img {
    width: 100%;
}